<h2>Praktikaülesande vastused</h2>

<ul>
  <li><strong>Kaua võttis aega kõikide tegevuste lahendamine:</strong> {{ time_spent }}</li>
  <li><strong>Varasemad kokkupuuted Drupaliga:</strong> {{ experience }}</li>
  <li><strong>Kõige keerulisem osa:</strong> {{ hardest_part }}</li>
  <li><strong>Kas õppisid midagi juurde:</strong> {{ learned }}</li>
  <li><strong>Üleandmise kuupäev:</strong> {{ delivery_date }}</li>
</ul>